body{
    background-color: rgb(230, 230, 230)
}

.header{
    background-color:rgba(255, 255, 255, 1);
    border-radius: 5px;
}

.title-header{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.buttons-container{ 
    background-color: rgba(255, 255, 255, 1);
    width: 50%;
    margin: 20px auto 0px;
    padding: 20px;
    border-radius: 5px;
}

main{ 
    background-color: rgba(255, 255, 255, 1);
    width: 50%;
    margin: 3px auto 40px;
    padding: 20px;
    border-radius: 5px;
}

.buttons-positioning{
    padding-bottom: 10px;
}

.list-title{
    margin-bottom: 0px;
}

.list-element-position{
    margin-top: 0px;
}

.container{
    padding-bottom: 1px;
}

.p-span{
    border-radius: 15px;
    font-size: small;
    display: inline-block;
    padding: 8px;
    color: white;
}

.editorial{
    background-color: lightblue;
}

.q1-goals{
    background-color: violet;
}

.recruiting{
    background-color: yellow;
}

.mobile{
    background-color: salmon;
}

.website{
    background-color: sienna;
}

.sales{
    background-color: slateblue;
}



